@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-3xl
}

@layer base {
  hr {
    @apply border-orange-400;
    @apply border-dashed;
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: decimal !important;
    padding-inline: 28px !important
  }
}
body {
  font-family: Verdana, sans-serif;
  text-align: left;
  background-color: #f9f7f3;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #393d3fef;
}
