/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-3xl
}

@layer base {
  ol {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: decimal !important;
    padding-inline: 28px !important
  }
}
body {
  font-family: Verdana, sans-serif;
  text-align: left;
  background-color: #f9f7f3;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #393d3fef;
}
/* font-family: "Dongle", sans-serif; */
