---
import Layout from "../layouts/About.astro";
---

<Layout title="About Me" description="Lorem ipsum dolor sit amet">
  <p>I'm Amber, a keen home cook working out of my tiny London kitchen.</p>
</Layout>
