---
import Layout from "../layouts/About.astro";
---

<Layout title="About Me" description="About Me">
  <p>
    I'm Amber, and I live in London with my husband and two cats. <br />
    Follow along as I create big flavours in our tiny kitchen.
  </p>
</Layout>
