---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="flex flex-col py-2 bg-green-700/90 text-green-50 px-4 sticky top-0 z-10 backdrop-blur-lg">
  <nav class="flex items-center justify-between align-middle">
    <h1 class="font-bold text-4xl font-['Dongle'] pt-1 leading-8">
      <a href="/">Small Kitchen,<wbr><span class="whitespace-nowrap pr-2"> Big Appetite</span></a>
    </h1>
    <HeaderLink class="leading-8 font-bold" href="/about">About</HeaderLink>
  </nav>
</header>
